.footer {
  color: gray;
  padding: 1rem;
  background-color: var(--blue);
}
.logo {
  width: 5rem;
  height: 5rem;
}
.contactList {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 2rem;
  height: 2rem;
}
.creditsList {
  list-style: none;
}
.creditLink {
  text-decoration: none;
  color: gray;
}