.content-section {
  width: 1000px;
  height: 740px;
  background-color: rgb(35, 63, 109);
  border-radius: 0 0 15px 0;
}

p {
  margin: 0;
  color: white;
}

label {
  display: grid;
}
.content-information {
  padding: 5%;
}
#pass{
    margin: 20px;
    margin-left: 180px;
    width: 40%;
    display:grid;
    background-color: rgb(22, 38, 63);
}

.member-img
{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 5%;
}

.content-members{
  display: flex;
  justify-content:center;
  column-width: 100px;
   -moz-column-width: 300px;
    -webkit-column-width: 300px;
}

.member
{
  margin: 3%;
}