.card{
    width: 18rem;
    background-size: cover;
    background-position: center;
    height: 12rem;
    position: relative;
}
.desc{
    background-color: red;
    width:  18rem;
    height: 12rem;
    margin: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease;
}